*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #d9d9d9;
}

a{
    text-decoration: none;
    color: black;
}

/*********************/
/* Style du template */
/*********************/
.titre{
    margin-left: 2vw;
}

.boutonTitre{
    font-size: 2em;
    font-weight: 700;
    height: 10vh;
    width: 10vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.boutonTitre:hover{
    background-color: #1b1b1b;
    color: #fff;
}

.navigation{
    display: flex;
    flex-direction: row;
}
.navigation button{
    font-size: 1.5em;
    font-weight: 500;
    height: 10vh;
    width: 12vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.navigation button:hover{
    background-color: #1b1b1b;
    color: #fff;
}

/***************************/
/* Style de viewListeGenre */
/***************************/
.tableau{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 1vh;
}
.tableau table{
    border: 1px solid #000;
    border-collapse: collapse;
    width: 80vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tableau thead, tbody, th, tr, td{
    border: 1px solid #000;
}
.tableau th, td{
    padding: 5px;
    text-align: center;
}

.lienListe:hover{
    color: rgb(54, 96, 234);
}